<div class='center'>
  <blockquote class='twitter-tweet' data-lang='en'><p lang='en' dir='ltr'>Hey so, after posting this in <a href='https://twitter.com/moshboy?ref_src=twsrc%5Etfw'>@moshboy</a>&#39;s thread about interesting game bugs, I went back and recreated all these Game Genie codes with an emulator, revisited these in-between worlds and screencapped them all. Join me on a journey through Mario 3&#39;s upside-down. <a href='https://t.co/LLoY9KTTli'>https://t.co/LLoY9KTTli</a></p>&mdash; 𝖘𝖆𝖑𝖙𝖎𝖗𝖊 (@saltire) <a href='https://twitter.com/saltire/status/1050904631327494144?ref_src=twsrc%5Etfw'>October 13, 2018</a></blockquote>
  <script async src='https://platform.twitter.com/widgets.js' charset='utf-8'></script>
</div>
