body > footer {
  padding: 5rem 0;
  background: $black;

  > div {
    text-align: center;
  }

  .logos {
    margin: 2em 0;
    text-align: center;

    a {
      $logo-size: 40px;

      display: inline-block;
      width: $logo-size;
      height: $logo-size;
      margin: 0 20px;
      background-color: $penumbra;
      background-size: auto $logo-size;
      background-image: url('/static/logos-cutout.png');

      &.github {
        background-position: 0px top;
      }

      &.itchio {
        background-position: -$logo-size top;
      }

      &.twitter {
        background-position: -$logo-size * 2 top;
      }

      &:hover, &:focus {
        background-color: $cyan;
      }
    }
  }

  .crest {
    display: inline-block;
    width: $crest-size;
    height: $crest-size;
    background: url('/static/title-320.png') left top;
    background-color: transparent;

    &:hover, &:focus {
      background-color: transparent;
    }
  }
}
