body > footer {
  padding: 3rem 0;
  background: $black;
  text-align: center;

  strong {
    color: $cyan;
  }

  .social {
    margin: 2rem 0;

    a {
      @include social-link;

      font-size: 30px;
      line-height: 50px;
    }
  }

  .crest {
    display: inline-block;
    width: $crest-size;
    height: $crest-size;
    background: url('/static/title-320.png') left top;
    background-color: transparent;

    &:hover, &:focus {
      background-color: transparent;
    }
  }
}
