.post {
  > header {
    margin-bottom: 2rem;
    border-bottom: 1px dotted $light;

    .date {
      font-style: italic;
    }
  }

  > footer {
    margin-top: 3rem;
    border-top: 1px dotted $light;
  }

  > header, > footer {
    p {
      overflow: auto;

      .share {
        float: right;

        a {
          @include social-link;
        }
      }
    }
  }

  .tags {
    span {
      display: inline-block;
      margin: 0 .5em .5em 0;
      padding: 0 .15em;
      border-radius: 3px;
      background: $black;
      font-family: $header-font;
      font-size: 80%;
      vertical-align: top;

      @for $i from 1 through length($rainbow) {
        &:nth-child(#{length($rainbow)}n + #{$i}) {
          color: #{nth($rainbow, $i)}
        }
      }
    }
  }

  p {
    &.gallery-1 {
      margin: 2rem auto;

      @media only screen and (min-width: 710px) {
        max-width: 640px;
      }
    }

    &.gallery-4 {
      margin: 2rem auto;
      font-size: 0;
      line-height: 0;

      img {
        display: inline-block;
        width: calc(50% - .5rem);
        margin: .25rem;
      }

      @media only screen and (min-width: 820px) {
        max-width: 750px;
      }
    }
  }
}
