.post-header {
  margin-bottom: 2rem;

  .post-date {
    font-style: italic;
  }

  .social {
    float: right;

    a {
      @include social-link;
    }
  }
}

.tags {
  li {
    display: inline-block;
    padding: 0 .15em;
    background: $black;
  }
}
