@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,300i,700,700i|Montserrat:400,700');

$header-font: 'Montserrat';
$body-font: 'Roboto Slab';
$font-size: 20px;
$line-height: 2.125rem;

$red: #e5a0a0;
$orange: #e5bd95;
$yellow: #e5e595;
$green: #b8d897;
$teal: #97d8b8;
$cyan: #97d8d8;
$blue: #a0c3e5;
$indigo: #a9a9f2;
$purple: #c3a0e5;
$rose: #d897b8;
$light: #f2f2cd;
$mid: #babfa6;
$dark: #868c7c;
$penumbra: #545951;
$umbra: #3c3f3b;
$black: #242624;

$rainbow: $purple $rose $red $orange $yellow $green $teal $cyan $blue $indigo;

$banner-size: 320px;
$crest-size: 73px;
$title-size: $banner-size - $crest-size;
$title-margin: 50px;

$breakpoint-xs: $banner-size + 20px;
$breakpoint-sm: $banner-size * 2 + 20px;
$breakpoint-md: $banner-size * 3 + 20px;
$breakpoint-lg: $banner-size * 4 + 20px;

@mixin social-link {
  display: inline-block;
  width: 1.75em;
  height: 1.75em;
  padding: 0;
  text-align: center;

  svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -10%;
    fill: $light;
  }
}
