---
layout: default
---

<header class='article-header'>
  <p>
    {% if page.date %}<span class='article-date'>{{ page.date | date: '%B %e, %Y' }}</span>{% endif %}

    <span class='social'>
      <a href='https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}' title='Share on Twitter' target='_blank'>
        {% include svg/twitter.svg %}
      </a>

      <a href='https://facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}' title='Share on Facebook' target='_blank'>
        {% include svg/facebook.svg %}
      </a>
    </span>
  </p>

  {% if page.banner %} <img src='{{ page.banner }}' alt='{{ page.title }}' />{% endif %}
</header>

{{ content }}

<!-- {% if page.tags %}
<ul class='tags'>
  {% for tag in page.tags %}<li>{{ tag }}</li>{% endfor %}
</ul>
{% endif %} -->
