<!doctype html>
<html lang='en'>
  <head>
    {% capture title %}{% if page.title %}{{ page.title }} :: {% endif %}saltire sable.{% endcapture %}
    <meta charset='utf-8'>
    <meta name='viewport' content='initial-scale=1'>
    <meta name='theme-color' content='#242624'>
    <title>{{ title }}</title>
    <meta property='og:site_name' content='saltire sable.'>
    <meta property='og:title' content='{{ title }}'>
    <meta property='og:image' content='{{ site.url }}{% if page.thumbnail %}{{ page.thumbnail }}{% else %}/static/thumbnail.png{% endif %}'>
    <meta property='og:url' content='{{ site.url }}{{ page.url }}'>
    <meta name='twitter:card' content='summary'>
		<meta name='twitter:site' content='@saltire'>
		<meta name='twitter:creator' content='@saltire'>
    <link rel='icon' href='/static/favicon.ico'>
    <link rel='stylesheet' href='/style.css'>
  </head>
  <body>
    <header>
      <a class='transparent {% if page.title %}crest{% else %}title{% endif %}' href='/' title='saltire sable.'></a>
      {% if page.title %}
      <div>
          <h1>{{ page.title }}</h1>
          {% if page.summary %}<h2>{{ page.summary }}</h2>{% endif %}
      </div>
      {% endif %}
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <div>
        <p>© two thousand ten and counting.</p>
        <p><strong>x</strong> at <strong>saltire sable</strong> dot <strong>com</strong>.</p>
        <p>design by <a href='http://www.marcuskamps.com'>marcus kamps</a>.</p>
        <div class='logos'>
            <a class='github' href='https://github.com/saltire' title='GitHub'></a>
            <a class='twitter' href='https://twitter.com/saltire' title='Twitter'></a>
            <a class='itchio' href='https://saltire.itch.io' title='itch.io'></a>
        </div>
        <a class='crest' href='/' title='saltire sable.'></a>
      </div>
    </footer>

  </body>
</html>
