---
layout: default
---

<div class='intro'>
  <img src='/static/pixelportrait-730.png' alt='portrait'>

  <p>
    Greetings! I'm <strong>Marcus Kamps</strong>. I'm an artist and hacker based in Toronto.
  </p>

  <p class='social'>
    <a href='https://twitter.com/saltire' title='Twitter'>{% include svg/twitter.svg %}</a>
    <a href='https://instagram.com/saltiresable' title='Instagram'>{% include svg/instagram.svg %}</a>
    <a href='https://github.com/saltire' title='GitHub'>{% include svg/github.svg %}</a>
    <a href='https://saltire.itch.io' title='itch.io'>{% include svg/itchio.svg %}</a>
  </p>
</div>

<div class='posts'>
  {% assign posts = site.posts | sort: 'date' | reverse %}
  {% for post in posts %}
  <a href='{{ post.url }}'>
    <img src='{% if post.thumbnail %}{{ post.thumbnail }}{% else %}/static/thumbnail.png{% endif %}' alt='{{ post.title }}' />
    <h1><span>{{ post.title }}</span></h1>
    {{ post.summary }}
  </a>
  {% endfor %}
</div>
