---
layout: default
---

<div class='post'>
  <header>
    <p>
      {% include share.html %}

      {% if page.date %}<span class='date'>{{ page.date | date: '%B %e, %Y' }}</span>{% endif %}
    </p>

    {% if page.banner %} <img src='{{ page.banner }}' alt='{{ page.title }}' />{% endif %}
  </header>

  {{ content }}

  <footer>
    <p>
      {% include share.html %}

      <span class='tags'>
        {% for tag in page.tags %}<span>{{ tag }}</span>{% endfor %}
      </span>
    </p>
  </footer>
</div>
